<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>10</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>100</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>11</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>12</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>13</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>14</key>
	<dict>
		<key>bottom</key>
		<integer>24</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>15</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>15</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string>VqzsGa4DlOzaVT==</string>
		<key>characterMonster2</key>
		<string>V)zsGa4DlOzaVT==</string>
		<key>characterMonster3</key>
		<string>VqzSGadDlrziVT==</string>
		<key>characterType</key>
		<string>V9TZVNTb</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>14</integer>
		<key>mapInfoType</key>
		<string>5U==</string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>16</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>16</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>15</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>17</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>17</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>16</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>18</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>18</key>
	<dict>
		<key>bottom</key>
		<integer>28</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string>VqzsGa4DlOza5U==</string>
		<key>characterMonster2</key>
		<string>Vqz3Ga4D5)zalU==</string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string>V9TZVNTb</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>17</integer>
		<key>mapInfoType</key>
		<string>5U==</string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>19</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>2</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>20</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>21</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>22</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>23</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>24</key>
	<dict>
		<key>bottom</key>
		<integer>34</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>14</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>25</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>26</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>27</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>28</key>
	<dict>
		<key>bottom</key>
		<integer>38</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>18</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>29</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>3</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>30</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>31</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>32</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>33</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>34</key>
	<dict>
		<key>bottom</key>
		<integer>44</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string>VrzsGadDlOzi5U==</string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string>V9TZVNTi</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string>5U==</string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>24</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>35</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>36</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>37</key>
	<dict>
		<key>bottom</key>
		<integer>47</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string>VqzsGa4DlOzalU==</string>
		<key>characterMonster2</key>
		<string>V)zkGamD5qz)VT==</string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string>V9TZVNTi</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string>5U==</string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>38</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>38</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>37</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>39</integer>
		<key>top</key>
		<integer>28</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>39</key>
	<dict>
		<key>bottom</key>
		<integer>49</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string>VqzsGa4DlOza5U==</string>
		<key>characterMonster2</key>
		<string>V)zSGadDlrzalU==</string>
		<key>characterMonster3</key>
		<string>Vqz3GamD5)ziVT==</string>
		<key>characterType</key>
		<string>V9TZVNT)</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>38</integer>
		<key>mapInfoType</key>
		<string>5U==</string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>4</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>40</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>41</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>42</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>43</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>44</key>
	<dict>
		<key>bottom</key>
		<integer>54</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>34</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>45</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>46</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>47</key>
	<dict>
		<key>bottom</key>
		<integer>57</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>37</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>48</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>49</key>
	<dict>
		<key>bottom</key>
		<integer>59</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>39</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>5</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>50</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>51</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string>VU==</string>
		<key>mapMove</key>
		<string>CQLZfaKFV92F5vT=</string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>52</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>52</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>51</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>53</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>53</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string>Vqz3Ga8D5)ziVU==</string>
		<key>characterMonster2</key>
		<string>V)zsGadDlOziV4==</string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string>V9TZVat=</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>52</integer>
		<key>mapInfoType</key>
		<string>54==</string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string>VrzbGaVk</string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>54</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>54</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>53</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>44</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>55</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>56</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>57</key>
	<dict>
		<key>bottom</key>
		<integer>67</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>47</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>58</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>59</key>
	<dict>
		<key>bottom</key>
		<integer>69</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>60</integer>
		<key>top</key>
		<integer>49</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>6</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>60</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>59</integer>
		<key>mapInfoType</key>
		<string>VU==</string>
		<key>mapMove</key>
		<string>CQLZfaKFV95F59P=</string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>61</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>62</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>63</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>64</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>65</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>66</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>67</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>0</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>68</integer>
		<key>top</key>
		<integer>57</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>68</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string>VrzsGa8DlOz)lU==</string>
		<key>characterMonster2</key>
		<string>VrzsGa4DlOza5U==</string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string>V9TZVNTa</string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>67</integer>
		<key>mapInfoType</key>
		<string>5U==</string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string>VU==</string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>69</integer>
		<key>top</key>
		<integer>0</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>69</key>
	<dict>
		<key>bottom</key>
		<integer>0</integer>
		<key>bushInfo</key>
		<string></string>
		<key>characterMonster1</key>
		<string></string>
		<key>characterMonster2</key>
		<string></string>
		<key>characterMonster3</key>
		<string></string>
		<key>characterType</key>
		<string></string>
		<key>isSelected</key>
		<integer>1</integer>
		<key>left</key>
		<integer>68</integer>
		<key>mapInfoType</key>
		<string></string>
		<key>mapMove</key>
		<string></string>
		<key>mapType</key>
		<string></string>
		<key>moveEvent</key>
		<string></string>
		<key>questCharacterIndex</key>
		<string></string>
		<key>questIndex</key>
		<string></string>
		<key>questLevel</key>
		<string></string>
		<key>right</key>
		<integer>0</integer>
		<key>top</key>
		<integer>59</integer>
		<key>village</key>
		<string></string>
	</dict>
	<key>7</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>70</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>71</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>72</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>73</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>74</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>75</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>76</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>77</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>78</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>79</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>8</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>80</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>81</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>82</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>83</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>84</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>85</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>86</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>87</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>88</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>89</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>9</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>90</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>91</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>92</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>93</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>94</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>95</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>96</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>97</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>98</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
	<key>99</key>
	<dict>
		<key>isSelected</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
